body {
    margin: 0;
    padding: 0;
    color: #4E5262;
    font-family: 'Roboto';

}

.p-logo {
    width: 70px;
    height: 70px;
}

.social-icons {
    width: 15px;
    height: 15px;
}

.container {
    padding: 0px 15px;
}

.breadcrumbs {
    margin: 5px 0px;
}

.breadcrumbs a {
    font-size: 10px;
    font-weight: 700;
    color: #4E5262;
    text-decoration: none;
}