.welcome {
    height: 90px;
    padding: 10px;
    border-radius: 5px;
    color: white !important;
    background-color: #70B4E6;
    box-shadow: -1px 2px 15px #80808040;
}

.welcome-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

.header-cloud-sun {
    width: 40px;
    height: 40px;
    float: right;
    filter: brightness(0) invert(1);
}

.pending-todos {
    padding: 15px;
    height: 300px;
    margin: 15px 0px;
    border-radius: 5px;
    background-color: #B6D4E9;
    box-shadow: -1px 2px 15px #80808040;
}

.pending-title {
    color: white;
    font-size: 10px;
    font-weight: 500;
}

.no-activity {
    text-align: center;
    padding: 20px;
}
