.register-container {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #a8c6f0;
}

.register-container div {
    height: 100%;
    text-align: center;
}

.register-container p {
    font-size: 10.5px;
    font-style: normal;
    margin-top: 12px;
}

.p-logo {
    display: block;
    margin-top: 142px;
    margin-left: auto;
    margin-right: auto;
}

.sign-in-text {
    display: block;
    margin-top: 36px;
}

.username-input {
    margin-top: 19px;
}

.forgot-pass {
    font-size: 10.5px;
}

.forgot-cont {
    text-align: start !important;
    height: auto !important;
}

.google-icon {
    width: 20px;
    height: 20px;
}

.social-icons {
    display: inline;
    vertical-align: middle;
}