/* Edit page css */
.user-profile-img {
    display: block;
    border-radius: 30px;
    width: 60px !important;
    height: 60px !important;
}

.profile-image-wrapper {
    display: grid;
    margin-top: 30px;
    justify-content: center;
}

.edit-user-btn, .cancel {
    background-color: #8898A0;
}

.form-group {
    gap: 10px;
    display: flex;
    align-items: center;
}

.edit-form-icons {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

form {
    display: grid;
    justify-content: center;
}
